.btn {
  cursor: pointer;
  display: block;
  position: relative;
}
.input {
  display: block;
  width: 100%;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
  -webkit-text-fill-color: var(--white);
}

.input:focus {
  outline: none;
}
.container {
  justify-self: right;
  display: grid;
  /* padding: 10px; */
  font-size: 1rem;
  height: 90%;
  align-content: center;
  justify-items: left;

  width: 9%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.4s width ease, 0.4s background-color ease,
    0.4s border-color ease;
}

.mobileContainer {
  border: 1px solid gray;
  margin: 20px;
  padding: 3px;
}

.mobileContainer * {
  font-size: 1rem;
}
.mobileContainer input {
  padding-left: 4px;
}
.show {
  width: 100%;
  background-color: var(--black);
  border: 1px solid var(--white);
  grid-template-columns: 1fr 9fr;

  transition: 0.4s width ease, 0.4s background-color ease,
    0.4s border-color ease;
}
