.body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 8px;
  opacity: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: 450ms all;
}
.body:after,
.body:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}

.left {
  bottom: 10px;
  position: absolute;
  left: 5px;
  font-size: 0.7em;
}

.left * {
  padding: 0.5px;
}

.playBtn {
  font-size: 0.7em;
  color: red;
  border: 1px solid grey;
  border-radius: 100%;
  padding: 4px 3.5px 3px 4px;
}

.text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 2px;
  width: 80px;
}
.dot {
  color: grey;
}

.match {
  /* Match Rating*/
  color: #00ee00;
}
.maturity {
  /* Maturity Rating*/
  border: 1px solid var(--white);
  padding: 0px 2px 1px 2.5px;
}

.right {
  right: 5px;
  bottom: 10px;
  position: absolute;
  font-size: 0.7em;
}
.btn {
  margin: 3px auto;
  border: 1px solid grey;
  border-radius: 100%;
  opacity: 0.7;
}

.btn > i {
  padding: 3px 3px 2.5px 3px;
}

.btn:hover,
.btnSelected {
  color: white;
  opacity: 1;
  border: 1px solid white;
}
